.footer{
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  padding: 2em;
  background-color: var(--black);
}

.footerBox ul li, td, p, a{
  font-size: 16px;
  color: var(--white);
}

.footerBox h2{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  color: var(--white);
}

.footerBox ul{
  padding:0;
}

.footerBox ul li{
  margin-bottom: 10px;
  color: var(--white);
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  transition-duration: 2s;
}

.footerBox ul li:hover{
  text-decoration: underline;
  text-decoration-color: var(--red);
  text-underline-offset: .2rem;
}


td{
vertical-align: top;
text-align: left;
padding: 0px 16px 8px 0px;
}

.contactInfo{
  display: flex;
  margin-bottom: 0.6rem;
}

.contactInfo span{
  margin-right: 8px;
}


.copyright_box {
  font-size: .75rem;
  display: flex;
  align-items: center;
  padding: 0px 0px 2em 2em;
  border-top: 0.5px solid var(--white);
}

.copyright {
  color: var(--black);
}

@media only screen and (max-width: 600px) {

  .footer{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0px 2em;
  }
  
}